In [2]:
a = 5.04
type(a)

float

In [5]:
a = int(a)
type(a)

int

In [7]:
print(a)

5

In [17]:
a = 5+3j
b = 3+4j
print(a+b)

(8+7j)

In [7]:
a = 10
b = 30

In [11]:
a+b

40

In [10]:
a-b

-20

In [12]:
a*b

300

In [13]:
a/b

0.3333333333333333

In [14]:
a%b

10

In [32]:
a+=1
a

11

In [11]:
a/b

0.26666666666666666

In [10]:
int(a/b)

0

In [12]:
a//b

0

In [13]:
a = 23
b = 5
a//b

4

In [14]:
2**2

4

In [15]:
a>b

True

In [21]:
age = 20
if age >15 and age <30:
    print(age)
    print("yo")

20
yo

In [22]:
import math
print(math.pi*2**2)

12.566370614359172

In [23]:
print(math.factorial(5))

120

In [24]:
a = float('-inf')
a

-inf

In [25]:
a = 5
print("Hello %i"%a)

Hello 5

In [27]:
print("Hi "*5)

Hi Hi Hi Hi Hi

In [31]:
a = int(input("Enter a number"))
#a = int(a)
print(a)

4

In [32]:
print("A",end=" ")
print("B")

A B

In [33]:
string = "Divya and Tiya"
print(string[::-1])

ayiT dna ayviD

In [34]:
print(len(string))

14

In [35]:
list = [1,2.5,"Hello"]
print(list)

[1, 2.5, 'Hello']

In [36]:
print(type(list))

<class 'list'>

In [37]:
print(list[::-1])

['Hello', 2.5, 1]

In [38]:
print(list)

[1, 2.5, 'Hello']

In [39]:
list.append("Divya and Tiya")
print(list)

[1, 2.5, 'Hello', 'Divya and Tiya']

In [45]:
a = (1, 2.5, "hello")
print(type(a))

<class 'tuple'>

In [41]:
print(tup)

(1, 2.5, 'hello')

In [44]:
s = {1,2,2.5,2,1,2.5}
print(type(s))

<class 'set'>

In [1]:
capitals = {'India':'Delhi','USA':'Washington D.C.'}

In [2]:
print(capitals["India"])

Delhi